default_language_version:
  python: python3.8

repos:
  - repo: https://github.com/ambv/black
    rev: 21.11b1
    hooks:
    - id: black
      name: Blacken

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: end-of-file-fixer
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$

  - repo: https://github.com/PyCQA/bandit
    rev: '1.7.1'
    hooks:
    - id: bandit
      args: [-r]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
    - id: mypy
      additional_dependencies:
        - "types-requests"
        - "types-simplejson"

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: python
      types: [python]
      require_serial: true
      exclude: ^tests/.*$
